html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  width: 90%;
  margin: 0 auto;
  height: 70vh;
  margin-bottom: 0.54em;
}

button {
  width: 25%;
  height: 80px;
  background: #e0e0e7;
  border: solid 0.5px white;
  border-top: 0;
  border-left: 0;
}

.calculator-display {
  width: 40%;
  background-color: grey;
  text-align: right;
  padding: 5px 0;
  height: 50px;
  margin-bottom: 0;
}

.zero {
  width: 50%;
}

.button-right {
  background-color: #fd5602;
}

.active-link {
  color: orangered;
  text-decoration: underline;
}

.nav-links {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.button-row {
  width: 100%;
}

.button-wrapper {
  min-width: 350px;
  font-size: 0.9rem;
}
